*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  overscroll-behavior: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  box-sizing: border-box;
  background: rgb(245, 245, 245);
}

button:focus,
textarea:focus,
input:focus {
  outline: none;
}

a {
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

.hover-pointer {
  &:hover {
    cursor: pointer;
  }
}
