.mainfeedcontainer {
  margin: 1rem 0 10rem 0 !important;
  padding: 6rem 0 10rem 0 !important;
  height: auto;
}

.mainfeedscrollloading {
  text-align: center;
  margin-top: 8rem;
}

.infinite-scroll-component {
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 0;
  width: 100%;
}
