$break-medium: 665px;
$break-small: 414px;

.loginform {
  display: flex;
  justify-content: center;
  background-image: url('../../imgs/pineapplerepeat.jpg');
}

.titletext {
  text-align: center;
  font-size: 6.8rem;
  color: #0470c6;
}

.loginforminsidecontainer {
  margin-top: 12rem;
  padding: 2rem 3rem 0 3rem;
  min-width: 50rem;
  max-width: 60rem;
  height: 30rem;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.212),
    -0.2rem -0.2rem 0.2rem rgba(255, 255, 255, 0.212);

  @media screen and (max-width: $break-medium) {
    padding: 2rem 0;
    max-width: 50rem;
    min-width: 40rem;
    margin: 8rem 2rem 0 2rem;
  }
  @media screen and (max-width: $break-small) {
    max-width: 30rem;
    min-width: 30rem;
    margin: 8rem 2rem 0 2rem;
  }
}

.loginform input {
  max-width: 26rem;
  margin: 1rem auto;
  display: block;
  padding: 0.5rem;
  border-width: 0 0 2px 0;
  border-color: rgb(78, 78, 78);
  background: rgb(255, 255, 255);
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 3rem white inset !important;
  }
  @media screen and (max-width: $break-medium) {
    margin-left: 50% !important;
    transform: translateX(-50%);
    max-width: 30rem;
  }
}
.loginforminput {
  min-width: 41.5rem;
  margin: 1rem 1rem !important;

  @media screen and (max-width: $break-medium) {
    min-width: 30rem;
  }
  @media screen and (max-width: $break-small) {
    min-width: 24rem;
  }
}

.loginbutton {
  margin-top: 4rem !important;
  padding: 0.5rem 1rem !important;
  border-radius: 0.8rem;
  width: 50%;
  background: rgb(81, 158, 253) !important;
  color: white;
  border: none;
  transition: all 0.2s ease;
  @media screen and (min-width: $break-medium) {
    &:hover {
      color: rgb(0, 87, 194) !important;
      background: rgb(172, 209, 255) !important;
      transform: translateY(-0.2rem);
    }
    &:active {
      transform: translateY(0rem);
      background: rgb(238, 238, 238) !important;
      color: rgb(53, 53, 53) !important;
    }
  }
  @media screen and (max-width: $break-medium) {
    &:active {
      background: rgb(160, 202, 253) !important;
      color: white;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}
