.commentform {
  margin-top: 2.8rem;
  display: flex;
  height: 8rem;
  margin-bottom: -2rem;
  width: 100%;
}

.commentformprofilepic {
  min-width: 5rem !important;
  max-width: 5rem !important;
  min-height: 5rem !important;
  max-height: 5rem !important;
  border-radius: 999px;
  margin-top: 2.3rem;
  margin-left: 2rem;
  border: 0.2rem solid white;
}

.commentformcontainer {
  width: 100%;
}

.commentformtextarea {
  margin-left: 45%;
  transform: translateX(-50%);
  border-radius: 2rem;
  height: 4rem;
  max-height: 4rem;
  min-height: 2.8rem;
  max-width: 100%;
  min-width: 80%;
  // min-width: 35rem;
  // max-width: 50rem;
  padding: 0.5rem;
}

.commentformsubmitbutton {
  margin-left: 2.8rem;
  margin-top: 0.8rem;
  width: 30rem;
  text-align: center;
  border-radius: 1rem;
  background: white;
  padding: 0.2rem 0.5rem;
  &:hover {
    cursor: pointer;
    color: rgb(82, 94, 255);
  }
}

.commentformclosebutton {
  margin-left: 1rem;
  &:hover {
    cursor: pointer;
    color: rgb(255, 82, 82);
  }
}
