$break-medium: 665px;
$break-small: 414px;

.openchatbutton {
  color: rgb(34, 122, 255);
  font-weight: 700;
  position: fixed;
  bottom: 0.8rem;
  right: 0.8rem;
  padding: 0.4rem;
  border-radius: 0.8rem;
  width: 20rem;
  z-index: 4;
  transition: background 0.3s, color 0.3s, transform 0.3s;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.11);
  background: white;
  &:hover {
    color: white;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.178);
    background: rgb(230, 230, 230);
    transform: translateY(-0.3rem);
  }
  &:active {
    border: none;
    color: black;
    background: white;
  }
  @media screen and (max-width: $break-medium) {
    width: 17rem;
    right: 1rem;
  }
  @media screen and (max-width: $break-small) {
    width: 12rem;
  }
}

.chatfriendlistcontainer {
  margin-top: 1rem;
  max-height: 40rem;
  overflow-y: scroll;
}

.chatcontainer {
  margin: 1.5rem;
  padding: 1.4rem 0.2rem 1rem 0.6rem;
  background: rgb(255, 255, 255);
  position: fixed;
  right: 0;
  bottom: 0;
  width: 25rem;
  border-radius: 0.3rem;
  z-index: 3;

  @media screen and (max-width: $break-medium) {
    width: 25rem;
  }
}
.privatemessage {
  border-radius: 1rem;
  padding: 0.2rem 1rem;
  margin: 0.4rem 0.2rem;
  width: 90%;
  min-height: 3.2rem;
}

.privatemessagecontainer {
  display: flex;
}

.privatemessagefriend {
  display: inline block;
  background: rgba(228, 228, 228, 0.521);
  color: rgb(8, 70, 128);
}

.privatemessagecurrentuser {
  display: inline block;
  background-color: rgb(0, 132, 255);
  color: white;
  text-align: right;
}

.privatemessageform {
  float: right;
  margin-right: 2.5rem;
  margin-top: 0.2rem;
}
.privatemessageform input {
  border-radius: 10rem;
  width: 17rem;
  margin-right: 0.3rem;
}

.chatboxicons {
  position: absolute;
  right: 0.7rem;
}

.closechatbutton {
  color: rgb(80, 80, 80) !important;
  margin-left: 1rem;
  margin-right: 0.5rem;
  color: rgb(13, 13, 36);
  transition: color 0.18s;
  &:hover {
    cursor: pointer;
    color: rgb(255, 82, 82) !important;
  }
}

.chatbacktofriendlistbutton {
  color: rgb(0, 103, 199);
  transition: color 0.18s;
  &:hover {
    cursor: pointer;
    color: rgba(0, 103, 199, 0.425);
  }
}

.closecurrentchatminifybutton {
  float: left;
  margin-top: -1.5rem;
  margin-right: 0.4rem;
}

.privatemessagecontent {
  margin-left: 0.8rem;
}

.ownprivatemessagecontent {
  padding-top: 1.5rem;
}

.privatemessagefriendporfilepic {
  width: 3rem;
  height: 3rem;
  border-radius: 100rem;
  border: 0.2rem solid rgb(250, 250, 250);
}

.currentchatfriendname {
  font-size: auto;
  color: rgb(0, 62, 119);
  margin-left: 1.2rem;
  margin-bottom: 1rem;
}

.chatfriendlist {
  margin: 1rem;
  padding: 1rem;
}

.chatfriendlistindividual {
  margin-bottom: 0.5rem;
  background: rgba(213, 220, 230, 0.322);
  padding: 0.5rem;
  border-radius: 0.4rem;
  width: 19.5rem;
  position: relative;
  &:hover {
    background: rgb(0, 132, 255);
    color: white;
    cursor: pointer;
  }
}

.chatfriendlistprofilepic {
  width: 4rem !important;
  height: 4rem;
  border-radius: 100rem;
  border: 0.2rem solid rgb(245, 244, 244);
}

.chatlistindividualfriendname {
  margin-top: 1rem;
  margin-left: 0.2rem;
  font-size: 1.35rem;
}

.chatnofriendsmessage {
  margin-top: 3rem;
  margin-left: 3rem;
}

.onlinedot {
  width: 1rem;
  position: absolute;
  left: 3.2rem;
  bottom: 0.8rem;
  border: 0.1rem solid rgb(235, 235, 235);
  border-radius: 100px;
}

.individualchatonlinedot {
  width: 1rem;
  border: 0.1rem solid rgb(224, 224, 224);
  border-radius: 100px;
}

.currentchatmessagecontainer {
  margin: 0.8rem;
  min-height: 4.5rem;
  max-height: 35rem;
  overflow: scroll;
}
