$break-medium: 665px;
$break-small: 414px;

.postformopenbutton {
  color: rgb(34, 122, 255);
  background: white;
  font-weight: 700;
  position: fixed;
  left: 2rem;
  padding: 0.4rem 0.8rem;
  bottom: 0.8rem;
  padding: 0.4rem;
  border-radius: 0.8rem;
  width: 20rem;
  transition: background 0.3s, color 0.3s, transform 0.3s;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.11);
  &:hover {
    color: white;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.178);
    background: rgb(230, 230, 230);
    transform: translateY(-0.3rem);
  }
  &:active {
    border: none;
    color: black;
    background: white;
  }
  @media screen and (max-width: $break-medium) {
    width: 17rem;
  }
  @media screen and (max-width: $break-small) {
    width: 12rem;
  }
}

.postformoutercontainer {
  position: fixed;
  left: 2rem;
  bottom: 3rem;
}

.postform {
  display: flex;
  justify-content: center;
}

.postforminsidecontainer {
  margin-top: 12rem;
  padding: 2rem 0 0 3rem !important;
  min-width: 30rem;
  max-width: 40rem;
  min-height: 26.2rem;
  max-height: 26.2rem;
  border: 0.1rem solid rgb(99, 99, 99);
  border-radius: 1rem;
  background: rgb(223, 223, 223);
  box-shadow: 1rem 1rem 2.5rem #000000a6;
  @media screen and (max-width: $break-small) {
    min-width: 28rem;
    max-width: 30rem;
    max-height: 27rem;
  }
}

.postform input {
  display: block;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.postforminput {
  min-width: 28rem;
  margin: 0.4rem 1rem;
  border: 0.2rem solid rgba(0, 0, 0, 0);
  border-radius: 0.5rem;
  &:hover {
    cursor: pointer;
  }
  @media screen and (max-width: $break-small) {
    min-width: 20rem;
    margin: 0.4rem 0rem;
  }
}

.postformsubmitbutton {
  padding: 0.5rem 1rem !important;
  border-radius: 0.8rem;
  margin-bottom: 1rem !important;
  margin-right: 1rem !important;

  &:hover {
    background: #777;
    color: #fff;
  }
}

.loadingdots {
  width: 8rem;
  height: 8rem;
  margin-left: 5.5rem !important;
  margin-top: -2rem !important;
}

.postformbuttons {
  display: flex;
  margin-top: 1rem;
}

.closepostformbutton {
  color: rgb(80, 80, 80);
  float: right;
  margin-left: 1rem;
  margin-right: 1.4rem;
  margin-top: -1.2rem;
  transition: color 0.2s;
  &:hover {
    cursor: pointer;
    color: rgb(255, 82, 82);
  }
}

.postformtitle {
  border: 0.2rem solid rgba(34, 122, 255, 0.744);
  @media screen and (max-width: $break-small) {
    margin-top: 1.5rem;
  }
}

.postformpost {
  overflow-y: auto;
  min-height: 8.5rem;
  max-height: 8.5rem;
  border: 0.2rem solid rgba(34, 122, 255, 0.744);
  resize: none;
}

.postformtags {
  border: 0.2rem solid rgba(34, 122, 255, 0.744);
}

.postformfileinput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.postformselectedfiletrue {
  background: rgb(82, 243, 255) !important;
  transition: background 0.2s;
  &:hover {
    background: rgb(66, 181, 189) !important;
  }
}

.postformfileinputlabel {
  text-align: center;
}

.postformfileinput + label {
  min-width: 14.4rem;
  color: rgb(7, 9, 24);
  background: rgb(207, 207, 207);
  margin-top: 0.1rem;
  height: 3.4rem;
  display: inline-block;
  padding: 0.58rem 1.4rem;
  border-radius: 0.3rem;
  margin-left: 1rem;
  transition: color 0.2s, background 0.2s;
  @media screen and (max-width: $break-small) {
    min-width: 9rem;
    max-width: 11rem;
    margin-left: 0rem;
  }
}

.postformfileinput:focus + label,
.postformfileinput + label:hover {
  background-color: rgb(82, 94, 255);
  color: white;
  cursor: pointer;
}

.postformsubmitbutton {
  width: 8rem;
  text-align: center;
  border-radius: 0.3rem;
  margin-left: 5.5rem;
  background: rgb(207, 207, 207);
  padding: 0.2rem 1.5rem;
  transition: background 0.2s, color 0.2s;
  &:hover {
    cursor: pointer;
    background: rgb(34, 122, 255);
    color: rgb(250, 250, 250);
  }
  &:active {
    color: rgb(255, 255, 255);
    background: rgb(158, 158, 158);
  }
  @media screen and (max-width: $break-small) {
    margin-left: 1.7rem;
  }
}
