$break-medium: 850px;
$break-small: 414px;

.app-portfoliolink {
  display: flex;
  font-size: 1rem;
  color: #eee;
  background: rgb(15, 15, 15);
  position: absolute;
  right: 0;
  z-index: 5;
  padding: 0.5rem 1.4rem;
  border-radius: 1rem 0 0 1rem;
  width: 32rem;
  top: 6rem;
  border-left: 1px solid rgb(236, 235, 235);
  border-bottom: 1px solid rgb(236, 235, 235);
  cursor: default;

  a {
    margin-left: 0.3rem;
    transition: color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    &:hover {
      color: red;
    }
  }
  @media screen and(max-width: $break-medium) {
    top: 6.5rem;
  }
}

.app-openportfoliolink {
  color: rgb(83, 83, 83);
  font-size: 1rem;
  background: rgba(241, 241, 241, 0.74);
  padding: 0.4rem 1.2rem;
  cursor: pointer;
  transition: color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    background 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  &:hover {
    color: #fff;
    background: rgba(17, 17, 17, 0.564);
  }

  @media screen and(max-width: $break-medium) {
    top: 7rem;
  }
}

.app-closeportfoliolink {
  color: rgb(177, 177, 177);
  cursor: pointer;
  margin-right: 0.6rem;
  transform: scale(1.4);
  transition: color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  &:hover {
    color: rgb(207, 28, 28);
  }
}
