$break-medium: 850px;
$break-small: 414px;

.edituserformoutsidecontainer {
  width: 100vw;
  margin-left: 1rem;
  // margin-left: 50%;
  // transform: translateX(-50%);
  // @media screen and (max-width: $break-medium) {
  //   min-width: 40rem;
  //   max-width: 40rem;
  // }
  // @media screen and (max-width: $break-small) {
  //   min-width: 30rem;
  //   max-width: 30rem;
  // }
}
.edituserformcontainer {
  // margin-left: 50%;
  // transform: translateX(-50%);
  // @media screen and (max-width: $break-medium) {
  //   width: 45rem;
  // }
  // @media screen and (max-width: $break-small) {
  //   width: 27rem;
  // }
}

.editusertitletext {
  font-size: 6.8rem;
  text-align: center;
  @media screen and (max-width: $break-medium) {
    font-size: 4.5rem;
  }
  @media screen and (max-width: $break-small) {
    font-size: 3.8rem;
  }
}

.edituserform {
  margin-top: 12rem;
  padding: 2rem 3rem 0 3rem !important;
  height: 67rem;
  border-radius: 1rem;
  background: rgb(255, 255, 255);
  box-shadow: 0.2rem 0.2rem 0.2rem #999;
  width: 80rem;
  margin-left: 50%;
  transform: translateX(-50%);
  @media screen and (max-width: $break-medium) {
    width: 41.4rem;
  }
  @media screen and (max-width: $break-small) {
    width: 32rem;
  }
}

.editusercurrentvaluelabel {
  max-width: 30rem;
  padding: 0.2rem;
  border-radius: 0.2rem;
}

.edituserforminput {
  width: 60rem;
  margin: 1rem auto;
  display: block;
  padding: 0.5rem 1rem;
  border-width: 0 0 2px 0;
  border-color: rgb(78, 78, 78);
  background: rgba(100, 190, 250, 0.144);
  border-radius: 0.2rem;
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 3rem white inset !important;
  }
  @media screen and (max-width: $break-medium) {
    width: 28rem;
  }
  @media screen and (max-width: $break-small) {
    width: 22rem;
  }
}

.edituserformbutton {
  margin-top: 1.8rem;
  // margin-left: 10rem;
  margin-left: 50%;
  transform: translateX(-50%);
  color: rgb(82, 157, 250);
  padding: 0.5rem 1rem !important;
  border-radius: 0.8rem !important;
  width: 50%;
  background: rgb(232, 239, 248) !important;
  border: none;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(153, 153, 153, 0.808);
  transition: background 0.1s, transform 0.1s, color 0.1s;
  &:hover {
    background: rgb(160, 202, 253) !important;
    transform: translateY(-0.2rem);
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(153, 153, 153, 0.568);
    color: white;
  }
  &:active {
    transform: translateY(0.1rem);
    background: white !important;
    color: rgb(70, 70, 70);
    box-shadow: 0.14rem 0.14rem 0.14rem rgba(153, 153, 153, 0.808);
  }
  @media screen and (max-width: $break-medium) {
    // margin: 0 auto;
  }
  @media screen and (max-width: $break-small) {
    // margin: 0 auto;
  }
}

.edituserprofileuploadinput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.editusercoveruploadinput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.edituserprofileselectedfiletrue {
  background: rgb(82, 243, 255) !important;
  transition: background 0.2s;
  &:hover {
    background: rgb(66, 181, 189) !important;
  }
}

.editusercoverselectedfiletrue {
  background: rgb(82, 243, 255) !important;
  transition: background 0.2s;
  &:hover {
    background: rgb(66, 181, 189) !important;
  }
}

.edituserprofilefileinputlabel {
  text-align: center;
  min-width: 20rem;
  color: rgb(56, 87, 228);
  background: rgb(248, 248, 248);
  margin-top: 0.1rem;
  height: 3.4rem;
  display: inline-block;
  padding: 0.58rem 1.4rem;
  border-radius: 0.3rem;
  transform: translateX(-50%);
  margin-left: 50%;
  transition: color 0.2s, background 0.2s, transform 0.2s;
  box-shadow: 0.2rem 0.2rem 0.2rem #999;
  &:hover {
    background-color: rgb(82, 94, 255);
    color: white;
    cursor: pointer;
    transform: translateX(-50%) translateY(-0.25rem);
    box-shadow: 0.45rem 0.45rem 0.45rem rgba(153, 153, 153, 0.651);
  }
  &:active {
    transform: translateX(-50%) translateY(-0.1rem);
    box-shadow: 0.35rem 0.35rem 0.35rem rgba(153, 153, 153, 0.842);
    background-color: rgb(215, 218, 255);
    color: rgb(36, 51, 255);
  }

  @media screen and (max-width: $break-medium) {
    min-width: 15rem;
    width: 17rem;
  }
  @media screen and (max-width: $break-small) {
    min-width: 10rem;
    width: 12rem;
  }
}

.editusercoverfileinputlabel {
  text-align: center;
  min-width: 20rem;
  color: rgb(56, 87, 228);
  background: rgb(248, 248, 248);
  margin-top: 0.1rem;
  height: 3.4rem;
  display: inline-block;
  padding: 0.58rem 1.4rem;
  border-radius: 0.3rem;
  transform: translateX(-50%);
  margin-left: 50%;
  transition: color 0.2s, background 0.2s, transform 0.2s;
  box-shadow: 0.2rem 0.2rem 0.2rem #999;
  &:hover {
    background-color: rgb(82, 94, 255);
    color: white;
    cursor: pointer;
    transform: translateX(-50%) translateY(-0.25rem);
    box-shadow: 0.45rem 0.45rem 0.45rem rgba(153, 153, 153, 0.651);
  }
  &:active {
    transform: translateX(-50%) translateY(-0.1rem);
    box-shadow: 0.35rem 0.35rem 0.35rem rgba(153, 153, 153, 0.842);
    background-color: rgb(215, 218, 255);
    color: rgb(36, 51, 255);
  }
  @media screen and (max-width: $break-medium) {
    min-width: 15rem;
    width: 17rem;
  }
  @media screen and (max-width: $break-small) {
    min-width: 10rem;
    width: 12rem;
  }
}

.edituserprofileuploadimage {
  width: 38rem;
  height: 38rem;
  display: block;
  border-radius: 0.3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0.2rem 0.2rem 0.2rem #999;
  @media screen and (max-width: $break-medium) {
    width: 17rem;
    height: 17rem;
  }
  @media screen and (max-width: $break-small) {
    width: 14rem;
    height: 14rem;
  }
}
.nocoverpic,
.editusercoveruploadimage {
  width: 38rem;
  height: 38rem;
  display: block;
  border-radius: 0.3rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0.2rem 0.2rem 0.2rem #999;
  @media screen and (max-width: $break-medium) {
    width: 17rem;
    height: 17rem;
  }
  @media screen and (max-width: $break-small) {
    width: 14rem;
    height: 14rem;
  }
}

.edituserpicturesection {
  padding: 2rem 0.1rem;
  width: 80rem;
  margin-left: 50%;
  transform: translateX(-50%);
  @media screen and (max-width: $break-medium) {
    width: 38rem;
  }

  @media screen and (max-width: $break-small) {
    width: 32rem;
  }
}

.incorrectpassworderrormessage {
  color: red;
}
